[2015-10-21 14:49] LucasFoulonMongai opened #1 "Hard coded path to the plugin link"
Hello,
In this file :
com/vpedak/testsrecorder/plugin/actions/ToolsTestsRecorderAction.java

The path to the plugin file is hard coded, so it can't work on any other computer than yours.

Error description :
<code>
Error:Cannot convert URL 'C:/Users/vpedak/IdeaProjects/droidtestrec/AndroidTestsRecorder.jar' to a file.
</code>

[2015-10-22 06:47] LucasFoulonMongai commented on #1
@vpedak up :)

[2015-10-25 00:45] wrparrish commented on #1
Do you  know when we can expect this change to be present in the plugin on Android Studio?
I downloaded it today, and saw the same problem.

Thank you!  Very excited to use it.

[2015-10-26 08:55] vpedak commented on #1
Sorry, I was sure that problem is only in sources and binary version of
plugin itself does not has this problem. I will upload new plugin later
today.

Thanks,
Slava Pedak

On Sun, Oct 25, 2015 at 3:46 AM, Will Parrish notifications@github.com
wrote:

[2015-10-26 12:18] wrparrish commented on #1
Awesome!   Looking forward to it.

[2015-10-26 19:03] vpedak commented on #1
I've uploaded new version to the repository, but it will take some time when it will be available (1-2 days) but you can download it also directly from site - http://droidtestlab.com/AndroidTestsRecorder.zip
And install into your Android Studio from file (not from repository). Please let me know if the problem is resolved at your side.

[2015-11-02 11:12] #1 closed

[2015-11-06 10:21] rbuiten opened #2 "NoClassDefFoundError AndroidTestRunConfigurationType"
Hello Slava,

While running the app (at least with the latest version of Android Studio) I will get the following error:  NoClassDefFoundError: org/jetbrains/android/run/testing/AndroidTestRunConfigurationType

It looks like this class is needed by ToolsTestsRecorderAction. Which plugin do I have to download? I couldn't found it in my project.

Thank you for answering.

[2015-11-06 11:22] vpedak commented on #2
Hi,

Can you please specify version of Android Studio that you are using? It
looks like new version of Android Studio has some changes in internal
classes (I am using them to start Test Recorder). I need to know the
version of Android Studio to reproduce this and fix.

Thanks,
Slava

On Fri, Nov 6, 2015 at 1:21 PM, rbuiten notifications@github.com wrote:

[2015-11-06 11:50] rbuiten commented on #2
I am using the latest Dev channel version of Android Studio 1.5 beta. This one has build number #AI-141.2384911. The release date of this version is 29th oktober.

Regards,
Rick

[2015-11-06 12:09] vpedak commented on #2
Hi Rick,

Thank you very mach I will try to reproduce this error and fix it. I will
write you when the fix will be ready.

Regards,
Slava Pedak

On Fri, Nov 6, 2015 at 2:50 PM, rbuiten notifications@github.com wrote:

[2015-11-09 10:45] jbaginski opened #3 "invalid path encoding"
[code]

after replacing ``%20`` with space it doesn't recognise the package and the plugin adds it again.

[2015-11-09 13:11] jbaginski commented on #3
btw. is it possible to prevent the plugin from reformatting `build.gradle` file?

[2015-11-09 16:42] vpedak commented on #3
Hi,

Sorry, but now I did not find the way to preserve format of build.gradle. I
am using API that Android Studio provides to operate with build.gradle file
and it is automatically reformat it.

I am working at this issue with space in the path. I plan to resolve it
tomorrow.

Thanks,
Slava Pedak

On Mon, Nov 9, 2015 at 4:11 PM, Janusz Bagiński notifications@github.com
wrote:

[2015-11-10 09:42] vpedak commented on #3
Hi,

I've uploaded new version with the fix to plugins repository but it will take some time to verify it. So you can download fixed version of plugin directly from the site http://droidtestlab.com/AndroidTestsRecorder.zip

Thanks,
Slava

[2015-11-10 09:42] #3 closed

[2015-11-10 11:55] vpedak commented on #2
Hi,

Issues is fixed, I've uploaded new version to the plugins repository.

Thanks,
Slava

[2015-11-10 11:55] #2 closed

[2015-11-21 14:59] Mistic92 opened #5 "ClassCastException with groovy class"
It happens when I'm trying to record groovy class
[code]

[2015-11-23 10:55] vpedak commented on #5
I am sorry, but Groovy is not supported yet by this plugin. Maybe in future I will add Groovy support, but it is difficult to say when.

[2015-11-23 10:55] #5 closed

[2015-11-30 23:19] otiasj opened #6 "PluginException on android studio canary channel (2.0)"
Getting the following error when opening android studio :
3:01:59 PM Plugin Error: Android Tests Recorder threw an uncaught PluginException. Disable Plugin
3:01:59 PM PluginException: cannot create class "com.vpedak.testsrecorder.plugin.actions.ToolsTestsRecorderAction" [Plugin: com.vpedak.testsrecorder.plugin.id]
3:02:29 PM EmptyThrowable: Null child action in group Tools () of class class com.in

[2015-12-03 10:15] vpedak commented on #6
HI,

I've tried plugin with Android Studio 2.0 Preview and I did not find such error. Also it looks like this is error inside Studio itself (based at exception that you've provided). Problem is that Tools menu item can not be found inside Studio. Seems something is wrong with your installation.

There was another issue under Android Studio 2.0 Preview and I've fixed it. New version of plugin is in

[2015-12-03 10:15] #6 closed

[2015-12-03 18:09] otiasj commented on #6
Thanks, looking into it
it seems a problem with the java version differences

[2015-12-09 20:05] bootstraponline opened #7 "Use precompiled APK"
The [robotium recorder](http://robotium.com/) is cool because you can just pass an APK and begin recording. The droidtestrec Android Studio plugin appears to require compiling the app before you can record.

Any thoughts on adding an option to specify the precompiled APK?

[2015-12-10 12:36] vpedak commented on #7
Yes, I saw this ability in Robotium recorder, and maybe it is possible to add this to my recorder, but I am not sure why this is necessary? My understanding is that this is a plugin to Android Studio that is a development tool and usually developers (maybe QA also) are using it to create tests. Why do you need to use precompiled APK for test recording? Can you please describe this more? If I will

[2015-12-10 13:53] bootstraponline commented on #7
Typically QA is provided only an apk and not the app source code. That's
why almost all commercial Android recorders (xamarin, appium, robotium)
have a mode that just requires the apk.

On Thu, Dec 10, 2015, 5:36 AM Vyacheslav Pedak notifications@github.com
wrote:

[2015-12-11 13:16] vpedak commented on #7
ok, I see now. I will take a look how to make this and implement this feature.

[2015-12-11 19:11] vpedak commented on #7
One more question. I am trying to understand this use case. If I will make support of recording from precompiled APK user will have a code from recorder. But this is not a finished test, it will not have verification logic and user will have to add it himself. But how he will deal with test sources when he have only precompiled APK? Is Android Studio support this (that test sources will be in the

[2015-12-11 19:41] bootstraponline commented on #7
I know Android Studio has support for test only projects. Here's the Google
blueprint which demos this.
https://github.com/googlesamples/android-testing-templates/tree/f8b39e395975c5deb7acc38537f400636555547a/AndroidTestingBlueprint/module-flavor1-androidTest-only

I don't think Android Studio itself supports executing tests against
precompiled apks. It's possible with spoon though. Given the app

[2015-12-14 11:31] vpedak commented on #7
Thanks for the link, but as I can see this is a test only project but is it dependent from project with _sources_. It has the following configuration in gradle:

[code]

So it has a reference to the project with application sources.

Problem is that tests must be compiled with dependency to the application and precompiled APK can not be such dependency (as I know). So even if I will try to make su

[2015-12-14 15:16] bootstraponline commented on #7
If you delete the source code in :app then `gradle assembleDebug` still works. The test apk is generated in `./module-flavor1-androidTest-only/build/outputs/apk/module-flavor1-androidTest-only-debug.apk` Spoon can then be used to run the tests against a release apk:

[code]

You're correct that Android Studio doesn't support running the tests like that but spoon is easy enough to use and [integrat

[2015-12-15 08:39] vpedak commented on #7
Thank you a lot. I will investigate this more.

[2016-01-29 13:34] lhoracek opened #8 "NPE on Drawer open guesture"
Start recording test and try to open drawer:

[code]

[2016-02-02 11:24] vpedak commented on #8
Issue is resolved. New build 0.8.5 is available in plugins repository and at site http://droidtestlab.com/AndroidTestsRecorder.zip

[2016-02-02 11:24] #8 closed

[2016-02-02 11:30] vpedak commented on #7
After investigation: Espresso supports only tests that are created from sources only (no black box testing is supported). Yes it is possible to create a library and avoid showing sources to QA but in any case this will be normal Android Studio project with all necessary dependencies so there is no way to create Espresso test from APK only.

Maybe we should return to this idea if we will support UI

[2016-02-02 11:30] #7 closed

[2016-02-02 16:53] jrattray13 opened #9 "NavigationMenu (/Drawer Layout) testing items"
So the android.support.design.widget NavigationView is a sidebar you can pull out on Android devices and can inflate with a menu of options (to later add click interaction)

However testing this in espresso can be nightmare and was hoping your test recorder would help me out, to no effect.

The problem is. if you have a longish menu and record the test on a highish resolution emulator, you click t

[2016-02-02 17:48] lhoracek commented on #9
The error given by espresso should be that the item is not fully visible. If any View is not more than 90 percent visible, espresso throws an error.
You should always do scrollTo action and then click. In case of recorder, it should generate this code for every AdapterView or in case of support RecyclerView. There are already RecyclerViewActions.
Generating onData viewMatchers would be great impro

[2016-02-02 19:36] vpedak commented on #9
@jrattray13  Thanks a lot for submitting this issue, we did not predict this behavior when generating child matcher. Let us think how to make this better and fix this (yes, maybe we shouild scroll to necessary view)

@lhoracek Thanks for the comments. We are generating "onData" statement for every AdapterView in recorder, so this is working fine and without scroll to. RecyclerView is not supported

[2016-02-02 19:38] vpedak opened #10 "android.support.v7.widget.RecyclerView is not supported"
It should be supported the same way as AdapterView

[2016-02-02 19:43] lhoracek commented on #9
@vpedak Last time I had dumped view hierachy from navigation view, it had RecyclerView inside its layout. So supporting RecyclerView will solve you two problems

[2016-02-03 10:01] vpedak commented on #9
@lhoracek thanks again for your comments, this is helping me a lot. I found out that navigation view has adapter inside, but it is impossible to use onData for it because NavigationMenuItem class is private but it should be used in onData. There is a bug about this in Espresso - https://code.google.com/p/android/issues/detail?id=187701. So I still think that "scroll to" is right solution. I will i

[2016-02-04 13:39] vpedak commented on #9
Hi all,

I've uploaded new version to Plugins Repository (it is also available at site http://droidtestlab.com/AndroidTestsRecorder.zip).

Now special "scrollToPosition" action will be also generated when you are working with NavigationView. This action will scroll to necessary menu item, so if it is not visible it will become visible (before click at it).

 @jrattray13  Please try it if you will

[2016-02-04 13:39] #9 closed

[2016-02-04 14:13] MrBlobby commented on #9
Works a charm, cheers :+1:  (Perfect for my small emulator!) Will let you know if I run into any issues. Great test recorder project.

[2016-02-05 13:23] lhoracek commented on #9
Works great, but I think using RecyclerViewActions.scrollToPosition would do the trick and would not require defining new action inside the test - cleaner and more readable code.
Or actually using [this action](http://developer.android.com/reference/android/support/test/espresso/contrib/RecyclerViewActions.html#actionOnItemAtPosition%28int, android.support.test.espresso.ViewAction%29) does both th

[2016-02-05 14:37] vpedak commented on #9
yes, you are right but I was worry that RecyclerViewActions requires addition dependency to android.support.test.espresso.contrib and Studio Project might not have it. So generated test will not be compilable. I am worry that nobody will investigate why it is so and will simple think that Recorder generated something wrong. And I do not want to update project dependencies from Recorder to resolve

[2016-03-02 11:50] vpedak commented on #10
Issue was fixed in version 0.9 (already deployed to plugins repository)

[2016-03-02 11:50] #10 closed

[2016-03-05 01:30] fahimk opened #11 "Spinners cause runtime exception"
java.lang.RuntimeException: setOnItemClickListener cannot be used with a spinner.
at android.widget.Spinner.setOnItemClickListener(Spinner.java:559)
at com.vpedak.testsrecorder.core.AdapterViewProcessor.processView(AdapterViewProcessor.java:20)
at com.vpedak.testsrecorder.core.ActivityProcessor.processView(ActivityProcessor.java:96)
at com.vpedak.testsrecorder.core.ActivityProcessor.processView(Ac

[2016-03-05 21:17] fahimk opened #12 "edit text changes should wait till loses focus before generating action"
great plugin, thanks for building it! Would be nice to wait until loses focus or timer to avoid generating multiple unnecessary lines

        // Set text to 'r' in DollyEditText with id R.id.edit_text_email
        onView(withId(R.id.edit_text_email)).perform(replaceText("r"));

        // Set text to 'ri' in DollyEditText with id R.id.edit_text_email
        onView(withId(R.id.edit_text_email)).

[2016-03-05 21:30] fahimk opened #13 "button to clear logs"
would be nice to have a way of clearing the logs without stop/start which rebuilds the module

[2016-03-07 02:42] leonard2014 opened #14 "Button-clicking events in AlertDialog are not recorded"
Buttons like BUTTON_POSITIVE, BUTTON_NEGATIVE, BUTTON_NEUTRAL are not recorded

[2016-03-08 08:44] vpedak commented on #12
yes, now I've implemented this by purpose. I can handle event that something is pressed in edit text. But it is not efficient to generate event each time something is pressing, it is better to generate one event to set the whole text when it is finished. and the only way I know to found out is it finished or not is to wait for lose focus. And what do you think is the best way to handle this?

[2016-03-08 15:50] fahimk commented on #12
We could add a timeout for when keys stop getting pressed while edit text is focused or when the edit text loses focus.

[2016-03-09 08:25] vpedak commented on #12
I think timeout is not an option because user can wait any amount of time before pressing something. So I still can see the only option is to wait for loose focus

[2016-03-09 08:39] vpedak commented on #13
Why do we need to have a button to clear the log? What is the use case when somebody will want to clear the log? It user want to record something new, log will be cleared automatically. I do not think that such functionality.

[2016-03-09 08:39] #13 closed

[2016-03-09 19:39] fahimk commented on #13
@vpedak I don't think the test recorder can be used entirely for generating tests, the code needs to be manually modified for anything more than a simple app. In this case it would be nice to have the app open and not have to rebuild/restart to add record a few actions at a time

[2016-03-10 09:20] kapilkapri007 opened #15 "Error while Installing APK"
Showing error
The APK file /Users/.../app/build/outputs/apk/app-debug-androidTest-unaligned.apk does not exist on disk.

[2016-03-10 10:51] vpedak commented on #13
ok, I see your point, but you can not simple add few actions because you are starting application each time recording is started (there is no choice), so you will have to go through application one more time to go to the point where you were.
What you can do now, you can start new recording, go through the application and not generate a test, but simple select subset of generated events, right cli

[2016-03-10 10:53] vpedak commented on #15
It looks like there was an error creating test module that is started when recording is started. You should have more information in the log view in Android Studio. Can you please take a look and provide more info what was the root cause?

[2016-03-10 11:55] vpedak commented on #12
Let's keep current implementation yet because I do not see any better way to do this now.

[2016-03-10 11:55] #12 closed

[2016-03-10 22:00] leonard2014 commented on #14
Thanks so much! Waiting for the next release now...

[2016-03-11 07:41] vpedak commented on #14
New version (0.9.2) is uploaded to plugins repository. The issue should be fixed. Please verify that it is working now for you when you will have time.

[2016-03-11 07:41] #14 closed

[2016-03-11 07:41] vpedak commented on #11
new version 0.9.2 with the fix is uploaded to the plugins repositiry

[2016-03-11 09:44] kapil-kapri commented on #15
@LargeTest
public class AndrTestRec extends ActivityInstrumentationTestCase2<AppHomeActivity> {
    public AndrTestRec() {
       super(AppHomeActivity.class);
    }
    private Activity activity;
    @Override
    public void setUp() throws Exception {
        super.setUp();
        activity = getActivity();
    }
    public void testRun() throws InterruptedException {
        new ActivityListene

[2016-03-11 09:54] kapil-kapri commented on #15
How to handle network calls cases ..???

[2016-03-11 12:52] vpedak commented on #15
It looks like this is a problem inside Android instrumentation :( I found out that some people has the same issue - https://github.com/googlesamples/android-testing/issues/56

The workaround is to exclude  appcompat and support-v4 in your gradle config file

[code]

And regarding the network calls. Espresso has special [IdlingResource](http://developer.android.com/reference/android/support/test/es

[2016-03-12 05:06] leonard2014 commented on #14
Yes, the clicking events in AlertDialog are recorded perfectly in the new version. Awesome!

[2016-03-14 21:59] leonard2014 opened #16 "getInstrumentation() compiling error"
Last week I reinstalled Android Studio, after that there are getInstrumentation() compiling errors with the generated code. This is because **import static android.support.test.InstrumentationRegistry.*;**  is not declared in the source code. Could you add this line to the generated source code? Thanks!

[2016-03-15 08:51] vpedak commented on #16
It looks strange because `getInstrumentation()` is a public method of `InstrumentationTestCase` and my class extends `ActivityInstrumentationTestCase2` that extends  this `InstrumentationTestCase`.

What version of Android Studio and  Android Platform are you using? I will try to reproduce this.

[2016-03-15 08:52] vpedak commented on #15
Hi @kapilkapri007 , was you able to resolve this?

[2016-03-15 11:24] kapil-kapri commented on #15
Still issue is not resolve , i am already using :

[code]

[2016-03-15 20:39] leonard2014 commented on #16
I am using Android Studio 1.5.1,
gradle settings:

   compileSdkVersion 18
   buildToolsVersion "23.0.2"

   minSdkVersion 17
   targetSdkVersion 18

Just checked the generated test case. It's like

@RunWith(AndroidJUnit4.class)
@LargeTest
public class SessionActivityTest {
.......

}

It doesn't extend ActivityInstrumentationTestCase2

[2016-03-16 08:55] vpedak commented on #16
Sorry, I was thinking about another sources. Now I understand where was the issue.
Thank you for details. It is fixed and will be available at next release.

[2016-03-20 03:34] manishkungwani opened #17 "Doesn't work on the latest Android Studio and gradle."
Hi,
I am using Android Studio v2.0-beta7 and gradle v2.0.0-beta7.

When I try to start recording tests, I get the following error:

Error running TestRecorderTemporary1458444695480: This version of Android Studio is incompatible with the Gradle Plugin used. Try disabling Instant Run (or updating either the IDE or the Gradle plugin to the latest version).

[UPDATE] I was able to get the test runner

[2016-03-21 10:05] vpedak commented on #17
Hi,

I just tested plugin myself with this version and everything was ok. Are you using emulator or it was real hardware device?

[2016-03-22 05:00] mdvacca commented on #11
Hi, I'm using the version 0.9.2 and I still have the same problem:

D/dalvikvm( 1617): Debugger has detached; object registry had 1 entries
E/AndroidRuntime( 1625): FATAL EXCEPTION: main
E/AndroidRuntime( 1625): java.lang.RuntimeException: setOnItemClickListener cannot be used with a spinner.
E/AndroidRuntime( 1625):    at android.widget.Spinner.setOnItemClickListener(Spinner.java:427)
E/AndroidRu

[2016-03-22 09:14] vpedak commented on #11
Hi,

This was my mistake... I did not realize that Spinner is instance of AdapterView and my previous fix was wrong. I've uploaded version with new fix to the site - http://droidtestlab.com/AndroidTestsRecorder.zip. Can you  please try it (just uninstall plugin and install it from file, not from repository)? And if it is working I will commit the fix.

Thanks

[2016-03-22 17:19] mdvacca commented on #11
Thanks @vpedak, it worked.
BTW, where can I find the build.gradle files to build the plugin by myself?

Thanks!

[2016-03-23 12:29] #11 closed

[2016-03-23 12:37] vpedak commented on #11
@mdvacca there is no build.gradle. Plugin is developed in Intelllij Idea itself, not in Android Studio and it is requires reference to some rare used libraries (including Idea liblaries itself), so I am not sure that it is easy to build it with gradle. I am using Idea itself to build it but dependency resolution is a big problem.

[2016-03-29 12:39] manishkungwani commented on #17
@vpedak It was a real device..
Also tried it on an emulator.

[2016-03-31 12:02] vpedak commented on #17
I am using ADB to receive data from device to my plugin. This is strange that you can see log from device in Studio (this is also working through ADB), but do not see events for plugin :(

Can you please take a look what ADB version are you using? Also do you have any firewall software? Maybe some ports are disabled in it?

[2016-04-01 11:46] lhoracek opened #18 "Problems with multiple same IDs"
I have layout that is using databinding and has multiple same components, that include EditText with same id (R.id.edit_value).
When recording the test, this ID is used in ViewMatcher, but then the test fails, because there are multiple view with same id in window.
Shouldn't recorder check, if the recorded ID is unique inside the window and if not, at least throw some warning? Best way would be sw

[2016-04-04 08:48] vpedak commented on #18
@lhoracek Thanks a lot. I think this is very good idea. I will implement this, but maybe you can send me an example of your code to make sure that I will cover your use case (if this is possible)?

[2016-04-04 09:32] lhoracek commented on #18
Of course ;-)
I would love to have output like this:

[code]

You can see the edits have same ID, but different parent. They are just one xml included twice in different places. Databinding alows that component-like use.

[2016-04-05 12:40] vpedak commented on #18
@lhoracek is it possible for you to send me example of this Android activity with all those XMLs to save time for me to reproducing this?

[2016-04-05 15:25] lhoracek commented on #18
I will create sample code for you.

[2016-04-05 22:35] lhoracek commented on #18
Here is the example use-case https://github.com/lhoracek/databinding_includes

[2016-04-06 08:52] vpedak commented on #18
Thanks a lot!

[2016-04-06 12:09] lhoracek commented on #18
I will update the example with more use-cases. I came up with similar problem when using TabLayout with tabs that contain same IDs.

[2016-04-06 12:21] vpedak commented on #18
Thank you very much, this is helping me a lot.

[2016-04-07 09:14] vpedak commented on #18
@lhoracek I've uploaded new version 0.9.3 to the repository and to the site. Issue that you've reported should be fixed. Also I am using the generic approach so issue with TabLayout should be also fixed.

Can you please check this when you will have time? And thanks a lot for your idea and your help with this feature.

[2016-04-07 09:14] vpedak commented on #16
Fixed in last release 0.9.3

[2016-04-07 09:14] #16 closed

[2016-04-07 15:43] lhoracek commented on #15
I'm having the same issue right now ..

[code]

There is no such file in the outputs directory so it looks like assembleAndroidTest was not invoked or did not finish before running the testing suit.
When I run assembleAndroidTest or checkConnected from console manually recording worked just fine.

[2016-04-07 16:04] lhoracek commented on #18
Checking the 0.9.3 now and replace text generates the matcher perfectly:
`onView(allOf(withParent(withId(R.id.password)), withId(R.id.edit_value))).perform(replaceText("test"));`
but the same thing should be done for the scrollTo statement, generated to make members of scrollView visible.

Multiple same fragments inside ViewPager are still failing on AmbiguousViewMatcherException, but its more com

[2016-04-08 10:10] vpedak commented on #18
Yes, you are right. I've missed scroll to part. I've uploaded new version to site - http://droidtestlab.com/AndroidTestsRecorder.zip with this scrollTo fix. I will upload this fix to plugins repository at next release. So you can install plugin from file (site).

Also let me reopen issue because of ViewPager problems. If you will have ability to provide a sample I will try to resolve this somehow

[2016-04-08 10:21] vpedak commented on #15
@lhoracek I am using AndroidStudio Test Run Configuration to start recording, I just created it on the fly, so I still think that this is issue of test framework itself.

Take a look please at https://github.com/googlesamples/android-testing/issues/56 they are discussing the same issue and there is an issue create in android itself for this - https://code.google.com/p/android/issues/detail?id=1924

[2016-04-08 11:13] lhoracek commented on #18
Will test later today and add ViewPager example. The ViewPager is working for me with the isDisplayed matcher:

[code]

[2016-04-08 11:21] lhoracek commented on #15
@vpedak Calling assembleAndroidTest is workaround for me. Answering the first problem. @kapilkapri007  asked 3 different questions :-)

Excluding libraries is not solution for this apk missing problem as I already use this excluding script in my app a still have this problem with installing androidTest apk. Problem is, that assembleTestAndroid is not called so no androidTest apk exists in outputs

[2016-04-08 13:23] biddster opened #19 "Clicking record deletes dependencies in my app's build.gradle"
I already have espresso setup and working in my AS2 project (using android gradle 2.0.0).

If I open up the recorder, select my app target and main activity, pressing record removes dependencies from my build.gradle and the app then fails to compile.

[2016-04-08 13:42] vpedak commented on #19
I also had such problem one time during testing. But it had never happen again, so I was unable to reproduce this.
I am using API that Android Studio has to modify build.gradle, I do not open the file directly. So it looks like something wrong happens in Studio and it clears the dependencies.
 @biddster Can you please try it one more time? Is it reproducible in your environment?

[2016-04-09 07:41] biddster commented on #19
I've tried it many times now. Every time I click record it deletes the entries from build.gradle.

I'm on a Mac, not sure if that's relevant.

[2016-04-11 13:44] lhoracek commented on #18
@vpedak Can confirm, that scroll to is correctly generated with parent path as well.

Viewpager stil causes problem, try utilising the above mentioned method with visibility (isDisplayed()).

[2016-04-11 15:09] vpedak commented on #18
@lhoracek ok, I will prepare a fix for Viewpager soon.

[2016-04-11 15:15] vpedak commented on #19
@biddster I've create a fix and uploaded new version of plugin to the site  - http://droidtestlab.com/AndroidTestsRecorder.zip. Can you please test it at your environment when you will have time? You should remove the plugin, download zip from site and install plugin from file (not from repository).

Thanks

[2016-04-11 15:29] vpedak commented on #15
@lhoracek I've upload new version of plugin to the site - http://droidtestlab.com/AndroidTestsRecorder.zip There is a new feature. If you open File > Settings menu, you can find "Android Test Recorder" configuration under "Other Settings". There is a checkbox "leave Run Configuration used for recording". If you will check it plugin will save RunConfiguration that is used to start recording in the

[2016-04-12 11:33] vpedak commented on #18
@lhoracek I've uploaded new version to the site http://droidtestlab.com/AndroidTestsRecorder.zip, it contains the fix for ViewPager. Can you please check it at your environment when you will have time?
And I will upload this version to Plugins Repository.

Thanks a lot for all your help with the project.

[2016-04-12 14:06] biddster commented on #19
Nope - same result I'm afraid, dependencies deleted.

[2016-04-13 10:15] vpedak commented on #19
@biddster I am very sorry that I am asking for this one more time, but since I can not reproduce this at my environment I can not check this myself.

I've created one more fix for this issue. New version of plugin is at the site again - http://droidtestlab.com/AndroidTestsRecorder.zip Can you please check it one more time?

Thanks a lot.

[2016-04-15 08:38] biddster commented on #19
Oh don't apologise, happy to try and help debug. I'm afraid the deps still get deleted.
Here's what get's deleted:

<img width="1246" alt="screen shot 2016-04-15 at 09 34 18" src="https://cloud.githubusercontent.com/assets/995967/14555987/a6684d44-02ed-11e6-892e-4614fd4b177b.png">

Does the plugin really need to modify gradle files? I already have all the deps correct for espresso (I think).

[2016-04-15 09:07] vpedak commented on #19
Yes, I've to modify dependencies because I have to add my own jar to then. This jar contains all recording logic. I can not start recording without this.

But as I can see from your screenshot not all dependencies are deleted? Is this true? If not all dependencies are deleted this can be some specific problem. I saw one time that all dependencies are deleted in my case (and I hope that this is fix

[2016-04-15 10:04] biddster commented on #19
Understood. If I manually add the dependencies for the recorder, will it still try to modify the gradle file?

[2016-04-15 10:38] vpedak commented on #19
I've found the root cause (I was able to reproduce it with the same gradle build file as you have). Seems this is a bug in Android Studio. If you will take a look at "Event Log" after clicking Record button you should see error "NullPointerException: null". The reason is that Android Studio does not parse this line in gradle build:
`compile project(path:":paymentstoolkit", configuration: project.p

[2016-04-15 10:44] vpedak commented on #19
Just to make it clear. There are 2 components that are working with gradle build file. Gradle itself when it is building the project. And Android Studio that parse build file to find out dependencies and to show them in UI in Dependencies form.

Seems Gradle handle this situation and build is working fine. But when my plugin is asking for dependencies Androis Studio code is trying to parse them an

[2016-04-15 10:53] biddster commented on #19
I'll try it out without the expression. Unfortunately, that expression is to work around [another gradle bug](https://code.google.com/p/android/issues/detail?id=52962)

Thanks for the continued assistance.

[2016-04-15 11:09] vpedak commented on #19
I've submitted the bug - https://code.google.com/p/android/issues/detail?id=207032 but I think it will not have a high priority and will not be fixed soon.

Can you provide a String value for configuration, for example hardcode it as "default" (without any project.properties) as a temporary solution?

[2016-04-15 12:15] biddster commented on #19
Thanks for raising the bug, I've starred it.

I'll see what I can do about the gradle file. Not much, I think, without revisiting the android gradle bug and trying to find a different work around. If only goog would hurry up and fix it!

[2016-04-15 12:18] vpedak commented on #18
closing the issue, I've uploaded version 0.9.4 to the repository with all fixes related to this issue

[2016-04-15 12:18] #18 closed

[2016-04-15 12:20] vpedak commented on #19
closing the issue since root cause is found and the only way now is to workaround this

[2016-04-15 12:20] #19 closed

[2016-04-21 07:17] nareninindia opened #20 "If gradle has 2 'dependencies' nodes, then test recorder gives a dialog to setup Expresso"
Expresso is already setup.
2nd 'dependencies' node has the dependencies required for Expresso and testing.
We separated this for modularity purposes.
Then we are getting the mentioned error.

Not a severe one. But as per gradle, what we did is legal.

Thanks.

[2016-04-21 07:59] nareninindia commented on #15
Setting up run configuration seems to bypass this issue.

[2016-04-21 10:14] vpedak commented on #20
Thanks a lot for submitting this issue. I will take a look soon. Maybe you can also attach your gradle build file?

[2016-04-21 10:16] vpedak commented on #15
@nareninindia Can you please clarify what did to bypass the issue? Are you turn on feature to save Run Configurations and then you started this configuration manually? Or you did something else?

[2016-04-21 10:35] nareninindia commented on #20
Attaching build.gradle files for correct way and wrong way.
[correct_build_gradle.txt](https://github.com/vpedak/droidtestrec/files/229723/correct_build_gradle.txt)
[wrong_build_gradle.txt](https://github.com/vpedak/droidtestrec/files/229724/wrong_build_gradle.txt)

[2016-04-21 10:43] nareninindia commented on #15
Steps I followed:
1. Setup Espresso in Android Studio project by adding dependencies to build.gradle.
2. Install Android Tests Recorder from Android Studio plugins repository.
3. Click 'Edit Configurations' -> Select 'Android Tests' -> Press + for creating new configuration.
4. Give a name to the configuration.
5. Add 'Specific instrumentation runner' as 'android.support.test.runner.AndroidJUnitRu

[2016-04-21 10:56] vpedak commented on #15
ok, so the problem is in wrong runner configuration. Thanks, I will update the code and generate this runner automatically

[2016-04-21 11:49] vpedak commented on #20
It looks like this is a bug in Android Studio API that my plugin is using :( I've created a bug about this - https://code.google.com/p/android/issues/detail?id=207668

But I am not sure that it will be fixed and fixed soon. So as a workaround you can put dependencies section with Espresso first and have other dependencies as second section. Also as I can see you put all dependencies to one section

[2016-04-21 11:49] #20 closed

[2016-04-21 11:55] vpedak commented on #15
@nareninindia I've uploaded fixed version to the site - http://droidtestlab.com/AndroidTestsRecorder.zip
You can try it (download zip and install plugin from file), now you should be able to start recording without changing of Run Configuration.

Thanks

[2016-04-27 08:09] gerpsychosocial opened #21 "it change my build.gradle"
when i start to record it change my build.gradle so i have to sync project

[2016-04-27 08:14] vpedak commented on #21
This is done by purpose. Recording is started a code inside the device and to start it I have to update dependencies and add my own jar there. I do not see any other appropriate way to make this.

[2016-04-27 08:14] #21 closed

[2016-04-27 08:23] vpedak commented on #21
In addition, you do not need to sync project yourself after starting recording. It will make this automatically. After pressing stop the dependency will be deleted from build.gradle automatically (and yes, here the project will ask you to sync)

[2016-05-02 14:05] bootstraponline opened #22 "Crashes on latest Android Studio 2.1 with Android N preview"
I know webviews aren't supported but it'd be nice not to crash.

[code]

[2016-05-02 14:06] bootstraponline opened #23 "Deletes all dependencies after recording"
All the dependencies in my build.gradle file have been deleted using the recording plugin. :(

I thought https://github.com/vpedak/droidtestrec/issues/19 was fixed? Is it not published yet to the Android Studio plugins directory?

[2016-05-03 15:25] vpedak commented on #23
Hi,

Can you please send me your gradle build file? Last time (issue #19) problem was that special configuration was used there and Android Studio did not process it right.

[2016-05-03 15:32] bootstraponline commented on #23
Unfortunately the app is proprietary and I'm not allowed to share the build file. :(

It'd be really cool to adopt a [nanohttpd](https://github.com/NanoHttpd/nanohttpd) type architecture where the record apk is deployed independently of the app under test. Communication would then happen via HTTP. Hijacking the standard gradle build process is painful.

[2016-05-04 08:32] vpedak commented on #23
@bootstraponline but maybe you can post your dependencies section only? Do you have one dependency section or several?

Also about "nanohttpd", communication is not a problem. Problem is to build test apk that has my classes inside. I have to reuse existing Android Studio approach to build it, but maybe I should think how to copy existing gradle build file and use it's copy and not the original fi

[2016-05-04 13:30] bootstraponline commented on #23
No, it's company policy. I didn't make the rules.

I have 3 dependency sections:

[code]

I think copying the file makes sense.

[2016-05-04 13:35] bootstraponline commented on #23
You don't. You could ship a pre-built recorder apk and then have the Android Studio plugin communicate with it via HTTP. The signature on the apk has to match so most commercial recorders will automatically resign the app under test using a default cert.

[2016-05-04 14:03] vpedak commented on #23
Thanks for the idea, it looks very interesting. But as I know test apk must have a target and this target should be application id of application you are going to record. So I am not sure how to make pre-built apk in such case.

[2016-05-04 14:11] bootstraponline commented on #23
It's very simple. Appium and Selendroid do this already. You detect the application id and then dynamically replace the test apk manifest with this id.
- [Example from Selendroid](https://github.com/selendroid/selendroid/blob/b52bafb48cb19fa36e5c3ec35a6964a367d89b7c/selendroid-standalone/src/main/java/io/selendroid/standalone/builder/SelendroidServerBuilder.java#L109)
- [Template Manifest](https:/

[2016-05-04 14:13] bootstraponline commented on #23
Here's another example from Calabash:
-  [calabash-android-build](https://github.com/calabash/calabash-android/blob/c358a851935a1ab687e0fa348bbee0bd3bce893b/ruby-gem/bin/calabash-android-build.rb#L33)

[2016-05-04 14:18] bootstraponline commented on #23
helper jars that appium uses:
- https://github.com/appium/unsign_and_move
- https://github.com/appium/sign

[2016-05-05 10:17] vpedak commented on #23
@bootstraponline thank you very much for this information, I was not aware on this approach.

But for now I will fix this by saving gradle config before recording and return it back after not because I do not like your approach, but because Android Studio performing a lot of logic during test start (like validating application and building it if necessary, allowing user to select where to deploy,

[2016-05-05 10:58] vpedak commented on #15
Also as a workaround you can trigger test APK build by Gradle. To make this you should open Gradle Tool Window (View -> Tool Windows - > Gradle menu items, then find your module in Gradle project tree and click at Tasks/build/assembleAndroidTest). This should generate necessary test APK and you will be able to start recording by "Record" button.

[2016-05-05 11:33] vpedak commented on #15
new version 0.9.5 with the fix was uploaded to plugins repository

[2016-05-05 11:33] #15 closed

[2016-05-05 11:34] vpedak commented on #23
new version 0.9.5 with the fix was uploaded to plugins repository

[2016-05-05 11:34] #23 closed

[2016-05-05 11:35] vpedak commented on #22
new version 0.9.5 with the fix was uploaded to plugins repository

@bootstraponline I was not able to fully reproduce this issue, so can you please verify that is is working at your side now if you will have time. Thanks.

[2016-05-05 11:35] #22 closed

[2016-05-10 13:38] bootstraponline commented on #17
This issue can be closed. It does work on the latest Android Studio.

[2016-05-10 13:39] bootstraponline opened #24 "Generated code missing R import"
The generated code references `R` but never imports it causing compile errors.

[2016-05-10 17:12] bootstraponline opened #25 "duplicate entry: com/vpedak/testsrecorder/plugin/core/Templates.class"
[code]

I'm seeing this error with the latest version of the plugin on android studio 2.1.

[2016-05-10 17:26] bootstraponline opened #26 "EmptyThrowable error"
Given this issue combined with #25, I really think the plugin needs to move to a pre-built apk model (similar to robotium's android studio plugin). The existing reliance on Gradle is too flaky.

[2016-05-11 09:26] #17 closed

[2016-05-12 08:32] vpedak commented on #26
@bootstraponline thank you for submitting the issues. I will try to evaluate new solution with pre-built apk, but this will not be soon :( because this will require a lot of changes.

As a workaround now you can call "assembleAndroidTest" gradle target and it should create necessary APK

[2016-05-16 19:14] rysh88 opened #27 "Android studio throws NoSuchMethodError"
Hi I'm using Android Studio 2.1.1 on a Mac and I get this error as soon as when I hit the record button.

java.io.File.toPath()Ljava/nio/file/Path;
java.lang.NoSuchMethodError: java.io.File.toPath()Ljava/nio/file/Path;
	at com.vpedak.testsrecorder.plugin.actions.ToolsTestsRecorderAction.record(ToolsTestsRecorderAction.java:410)
	at com.vpedak.testsrecorder.plugin.actions.ToolsTestsRecorderAction.a

[2016-05-17 08:45] vpedak commented on #27
It looks like you are using Java 6 to run Android Studio. Test Recorder is working only at Java 7 or higher.  Can you please switch to java 7? Here is details how to switch JDK for Android Stusio - http://tools.android.com/tech-docs/configuration/osx-jdk

[2016-05-17 08:45] #27 closed

[2016-05-17 15:21] rysh88 commented on #27
I still get the same error. I even tried updating JDK to the latest version.
Here's my setting,

![screen shot 2016-05-17 at 10 32 39 am](https://cloud.githubusercontent.com/assets/3083050/15327968/50c1d0de-1c21-11e6-9e42-bfb30ebd2ee2.png)

[2016-05-18 09:15] vpedak commented on #27
You are talking about SDK that is used _inside_ Android Studio and I was talked about SDK that is used to _run_ Android Studio itself. Take a look please at section "IDE JDK" of the link http://tools.android.com/tech-docs/configuration/osx-jdk

[2016-05-18 18:58] bootstraponline commented on #26
@vpedak Google just announced at I/O a built in Espresso test recorder for Android Studio.

[2016-05-19 08:52] vpedak commented on #26
@bootstraponline thanks, I will take a look at Android Studio 2.2. So if new test recorder will work fine I will switch to another project, because this test recorder will be unnecessary.

[2016-05-24 08:38] yinguanping opened #28 "record error"
When I click record button.It does nothing.
Log message:
NoSuchMethodError: java.io.File.toPath()Ljava/nio/file/Path;

[2016-05-24 09:30] vpedak commented on #28
You are using old java version to run your Android Studio. Please upgrade your java, see details in another issue https://github.com/vpedak/droidtestrec/issues/27

[2016-05-24 09:30] #28 closed

[2016-06-09 20:35] bootstraponline commented on #26
@vpedak recorder is available now http://tools.android.com/recent/androidstudio22preview3available?pli=1

[2016-06-10 19:17] vpedak commented on #26
Thanks, I will check it.

[2016-07-10 16:43] bootstraponline commented on #26
http://www.philosophicalhacker.com/post/an-espresso-test-recorder-deep-dive/ explains the implementation.

[2016-07-11 11:05] vpedak commented on #26
Thanks a lot. Yes, I saw that it is using debugger for recording. This is
why it is so slow.., Now recorder from Google is not so good, but in any
case I think they will improve it.

On Sun, Jul 10, 2016 at 7:43 PM, bootstraponline notifications@github.com
wrote:

[2017-01-04 02:48] m3l3m01t commented on #15
Just open Gradle tool window and refresh all gradle projects

[2018-03-12 07:00] sniperXue commented on #26
Initializing ADB，IllegalStateException: AndroidDebugBridge.init() has already been called. when I using this
plugin，I want to know why and how to use it in a right way.

[2018-03-12 08:47] sniperXue opened #29 "help help me！！！"
AndroidDebugBridge.init() has already been called.
java.lang.IllegalStateException: AndroidDebugBridge.init() has already been called.
	at com.android.ddmlib.AndroidDebugBridge.init(AndroidDebugBridge.java:210)
	at com.android.tools.idea.ddms.adb.AdbService$CreateBridgeTask.call(AdbService.java:175)
	at com.android.tools.idea.ddms.adb.AdbService$CreateBridgeTask.call(AdbService.java:158)
	at com.i